# DJANGO
DJANGO_SETTINGS_MODULE='estore.development'
SECRET_KEY=''
# DB
DB_NAME=''
DB_USERNAME=''
DB_PASSWORD=''
DB_HOST='127.0.0.1'
DB_PORT='5432'
# Sentry
SENTRY_DSN=''
# Sendgrid
SENDGRID_API_KEY=''
